<!DOCTYPE html>
<html>
    <head>
        <title>Word Finder Replacer Display</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="jumbotron" id="title">
              <h1>Word Finder Replacer</h1>
            </div>
            <!-- jumbotron -->
          </div>
          <!-- column title -->
        </div>
        <!-- top row -->
        <div class="row">
          <div class="col-sm-4">
            <div class="jumbotron">
              <h3>Create by Carlos Munoz Kampff</h3>
              <p>More from my GitHub:</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <!-- jumbotron -->
          </div>
          <!-- left column -->
          <div class="col-sm-8">
            <div class="jumbotron">
              <h4>We have found {{  }} that are case sensitive</h4>

            </div>
            <!-- jumbotron -->
          </div>
          <!-- right column -->
        </div>
        <!-- second row -->
      </div>
      <!-- container -->
    </body>
</html>
