<!DOCTYPE html>
<html>
    <head>
        <title>Word Finder Replacer Display</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="jumbotron" id="title">
              <h1>Words</h1>
            </div>
            <!-- jumbotron -->
          </div>
          <!-- column title -->
        </div>
        <!-- top row -->
        <div class="row" id="content">
          <div class="col-sm-4">
            <div class="jumbotron">
              <h5>Created by <br> Carlos Munoz Kampff</h5>
              <p>More from my GitHub:</p>
              <ul>
                <li><a href="https://elmunoz42.github.io/CMK-Portfolio/">CMK Portfolio</a></li>
                <li><a href="https://elmunoz42.github.io/trackSuggester2/">trackSuggester2</a></li>
                <a href="https://github.com/elmunoz42?tab=repositories">
                <li>SPMS-website-2.0</li>
                <li>metronomo</li>
                <li>roman-numerals</li>
                <li>leap-year</li>
                <li>Epicodus-Flashcards</li>
                <li>calculator</li>
                <li>Music-Apps</li>
                <li>vacation-spot</li>
                </a>
              </ul>
            </div>
            <!-- jumbotron -->
          </div>
          <!-- left column -->
          <div class="col-sm-8">
            <div class="jumbotron">
              <h4>We have found {{ allMatches }}.</h4>
              <h4>We have found {{ exactMatches }}. (case sensitive)</h4>
              <h4>Here's your text with edits: (if you made any) </h4>
              <div class="well">
                <p> {{ newText }}</p>
              </div>
            </div>
            <!-- jumbotron -->
          </div>
          <!-- right column -->
        </div>
        <!-- second row -->
      </div>
      <!-- container -->
    </body>
</html>
